<a href="https://colab.research.google.com/github/lucius8959/BookPrac/blob/master/chap2_prac01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

變數名稱 = 變數值

In [17]:
score = 80
print("score = " + str(score))
print("score=", score)

score = 80
score= 80

In [18]:
fruit = "香蕉" #fruit的資料型態為字串
print("fruit = " + fruit)

fruit = 香蕉

print(項目 % （參數列))

In [19]:
name = "林小明"
score = 80
print("%s的成績為%d" % (name, score))

林小明的成績為80

%5d：固定列印5個字元，若少於5位數
%5s：固定列印5個字元

In [20]:
price = 23.8
print("價格為%5d" % price)
print("價格為%5s" % price)
print("價格為%8.2f" % price)

價格為   23
價格為 23.8
價格為   23.80

In [21]:
print("{}的成績為{}".format(name,score))

林小明的成績為80

In [22]:
score = input("請輸入數學成績")
print("數學成績為{}".format(score))

請輸入數學成績100
數學成績為100

串列名稱 = [ 元素1, 元素2, …… ]
元素型態可以相同，也可以不同
例如： list1 = [ 1, "香蕉", True ]

取得元素值的索引值由0開始計數，索引值不得超過串列範圍
亦可使用二維串列
[ [元素1, 元素2], [元素3, 元素4], …… ]
列印時同二維陣列

In [23]:
score = [["國語", 90], ["數學", 80], ["英文", 70]]
print("{}的成績為{}".format(score[0][0],score[0][1]))

國語的成績為90

range(start, stop[, step])

In [24]:
list1 = range(5)
for s in list1:
  print(s, end=",")
print("\n")
list2 = range(3,8)
for s in list2:
  print(s, end=",")
print("\n")
list3 = range(-20, -2, 2)
for s in list3:
  print(s, end=",")
print("\n")

0,1,2,3,4,

3,4,5,6,7,

-20,-18,-16,-14,-12,-10,-8,-6,-4,

In [25]:
sum = 0
n = int(input("請輸入正整數:"))
for i in range(1, n+1):
  sum += i
print("1到%d的整數和為%d"%(n, sum))

請輸入正整數:90
1到90的整數和為4095

In [26]:
n = 0
for i in range(1,10):
  for j in range(1,10):
    print("%d * %d = %2d | "%(i, j, i*j), end=" ")
  print("\n")

1 * 1 =  1 |  1 * 2 =  2 |  1 * 3 =  3 |  1 * 4 =  4 |  1 * 5 =  5 |  1 * 6 =  6 |  1 * 7 =  7 |  1 * 8 =  8 |  1 * 9 =  9 |

2 * 1 =  2 |  2 * 2 =  4 |  2 * 3 =  6 |  2 * 4 =  8 |  2 * 5 = 10 |  2 * 6 = 12 |  2 * 7 = 14 |  2 * 8 = 16 |  2 * 9 = 18 |

3 * 1 =  3 |  3 * 2 =  6 |  3 * 3 =  9 |  3 * 4 = 12 |  3 * 5 = 15 |  3 * 6 = 18 |  3 * 7 = 21 |  3 * 8 = 24 |  3 * 9 = 27 |

4 * 1 =  4 |  4 * 2 =  8 |  4 * 3 = 12 |  4 * 4 = 16 |  4 * 5 = 20 |  4 * 6 = 24 |  4 * 7 = 28 |  4 * 8 = 32 |  4 * 9 = 36 |

5 * 1 =  5 |  5 * 2 = 10 |  5 * 3 = 15 |  5 * 4 = 20 |  5 * 5 = 25 |  5 * 6 = 30 |  5 * 7 = 35 |  5 * 8 = 40 |  5 * 9 = 45 |

6 * 1 =  6 |  6 * 2 = 12 |  6 * 3 = 18 |  6 * 4 = 24 |  6 * 5 = 30 |  6 * 6 = 36 |  6 * 7 = 42 |  6 * 8 = 48 |  6 * 9 = 54 |

7 * 1 =  7 |  7 * 2 = 14 |  7 * 3 = 21 |  7 * 4 = 28 |  7 * 5 = 35 |  7 * 6 = 42 |  7 * 7 = 49 |  7 * 8 = 56 |  7 * 9 = 63 |

8 * 1 =  8 |  8 * 2 = 16 |  8 * 3 = 24 |  8 * 4 = 32 |  8 * 5 = 40 |  8 * 6 = 48 |  8 * 7 = 56 |  8 * 8 = 64 |  8 * 9 = 72 |

9 * 1 =  9 |  9 * 2 = 18 |  9 * 3 = 27 |  9 * 4 = 36 |  9 * 5 = 45 |  9 * 6 = 54 |  9 * 7 = 63 |  9 * 8 = 72 |  9 * 9 = 81 |

In [27]:
for i in range(1, 11):
  if(i==6):
    break
  print(i, end=",")

print("\n---------------------")
for i in range(1, 11):
  if(i==6):
    continue
  print(i, end=",")

1,2,3,4,5,
---------------------
1,2,3,4,5,7,8,9,10,

In [28]:
n = int(input("請輸入大於1的整數："))
if(n==2):
  print("2是質數")
else:
  for i in range(2, n):
    if(n % i == 0):
      print("%d不是質數！" % n)
      break
  else:
    print("%d是質數" % n)

請輸入大於1的整數：50
50不是質數！

In [29]:
total = n = 0
while(n < 10):
  n += 1
  total += n
print(total)

55

In [36]:
list1 = [1,2,3,4,5,6]
list2 = list1 * 2
print(list2)

list2 = list1[1:4]
print(list2)

list2 = list1[1:4:2]
print(list2)

del list1[1:4]
print(list1)

list1.insert(1,2)
print(list1)

list1.extend([3,4])
print(list1)

list1.append(7)
print(list1)

list1.reverse()
print(list1)

list1.sort()
print(list1)

print(len(list1))
print(min(list1))
print(max(list1))
print(list1.index(5))
print(list1.count(4))

list1.remove(5)
print(list1)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]
[2, 3, 4]
[2, 4]
[1, 5, 6]
[1, 2, 5, 6]
[1, 2, 5, 6, 3, 4]
[1, 2, 5, 6, 3, 4, 7]
[7, 4, 3, 6, 5, 2, 1]
[1, 2, 3, 4, 5, 6, 7]
7
1
7
4
1
[1, 2, 3, 4, 6, 7]